/* TODO: bring in bootstrap styling */

body {
  text-align: center;
  background-color: #0a7823;
  color: #faf6f0;
}

.content {
  margin-top: 1em;
}

.elementText {
  text-align: left;
}

.headerButtons {
  display: inline-block;
}

.sortableHeader {
  cursor: pointer;
  text-align: left;
}

.sizeToTableRow {
  max-height: 25px;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltipContainer .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #faf6f0;
  color: #35092c;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipContainer:hover {
  visibility: visible;
}

.modalBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.modalBox {
  color: #35092c;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.onGreenBg {
  color: #faf6f0;
}

.btn-onGreenBg {
  border-color: #faf6f0;
  color: #faf6f0;
}

.btn-onGreenBg:hover {
  background-color: #faf6f0;
  color: #0a7823;
}

.table-onGreenBg {
  color: #faf6f0;
}

/* TODO: figure out how to change the slider button color (this failed attempt from https://stackoverflow.com/a/56424165/4062628 */
.onGreenBg::-webkit-slider-thumb {
  background-color: #ffbe00;
}

.onGreenBg::-moz-range-thumb {
  background-color: #ffbe00;
}

.onGreenBg::-ms-thumb {
  background-color: #ffbe00;
}